# DATABASE
POSTGRES_USER=postgres
POSTGRES_PASSWORD=secret_password_123
POSTGRES_DB=bookdealers
POSTGRES_HOST=db
POSTGRES_PORT=5432

# SECRETS
GOOGLE_API_KEY=google_key

# Z3950
Z3950_SERVICE_URL = "http://z3950:8001/search"

# SCHEDULER
EBIBLIO_SYNC_DAYS=7
TODOSTUSLIBROS_SYNC_DAYS=7
LIBRARY_SYNC_DAYS=1
SYNC_EXECUTION_HOUR=2
